<div class="continer">
    <h1>商品一覧</h1>
    <%= link_to '評価の高い順に並び替え', item_list_path(sort: 'rating') %><br>
    <%= link_to 'レビューの多い順に並び替え', item_list_path(sort: 'review') %><br>
    <%= link_to '商品の新しい順に並び替え', item_list_path(sort: 'latest') %><br>
    <div class="row mt-4">
        <% @items.each do |item| %>
            <div class="col-md-2 mt-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.item_name %></h5>
                        <a>商品ID: <%= item.item_id %></a><br>
                        <a>商品説明: <%= item.item_sentence %></a><br>
                        <a>メーカー: <%= item.maker_name %></a><br>
                        <a>投稿レビュー数: <%= item.review_count %></a><br>
                        <a>レビュー評価の平均: <%= item.review_rating %> / 5</a><br>
                        <%= link_to '商品詳細へ', item_detail_path(item.item_id) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

